
/* */
@import url('https://fonts.googleapis.com/css2? family= Archivo+Narrow:ital,wght@0,400;0,700;1,500 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Archivo Narrow', sans-serif;
  }

/* Menu*/



    li a:hover{
        background-color: rgb(235, 236, 147);
        color: black;
    }
main{
    margin-top: 20px;
}
   

/* Titulo principal*/
.hero{
    
    background-image:url(../img/fondo1.jpg);
    height: 60vh;
    
    padding-top: 10rem;
}

  
 


/* Responsive*/

@media screen and (max-width:576px) {
    .hero{
        width: 100%;
    }


 
    h3 .text-white{
        sm-pt-1 p-2

    }
    .container .row {

        gap: 4;
    }
}


}
    


@media screen and (max-width:992px) {

  











