
   

/* Titulo principal*/
.hero{
    
    background-image:url(../img/fondo1.jpg);
    height: 60vh;
    
    padding-top: 10rem;
}


.titulo{
    font-size: 2rem; 
    background-color: black;  
    color: yellow; 
}

.subtitulo{
    font-size: 8rem;
    background-color: black;
    color: yellow;

}
.parrafo1{
    font-size: 2rem;
    color: white;
}




  
 


/* Responsive*/

@media screen and (max-width:576px) {
    .hero{
        width: 100%;
    

    }

}



    


@media screen and (max-width:992px) {
    .hero{
        width: 100%;
    }



}