.hero{
    
    background-image:url(../img/fondo1.jpg);
    height: 60vh;    
    padding-top: 10rem;

     
    .titulo{
        font-size: 2rem; 
        background-color: $secondcolor;  
        color:$mainColor; 
    }
        .subtitulo{
            font-size: 8rem;
            background-color: $secondcolor;
            color:$mainColor;
        }
            .parrafo1{
                font-size: 2rem;
                color: white;

            }    









    
         }
 


