@import url('https://fonts.googleapis.com/css2? family= Archivo+Narrow:ital,wght@0,400;0,700;1,500 & display=swap');

$fontNarrow: 'Archivo Narrow', sans-serif;

$mainColor:yellow;

$secondaryColor: black;


%iconitos {
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: rgb(226, 236, 83);
    }
}