@import url('https://fonts.googleapis.com/css2? family= Archivo+Narrow:ital,wght@0,400;0,700;1,500 & display=swap');

$fontNarrow: 'Archivo Narrow', sans-serif;

$mainColor:yellow;

$secondcolor: black;